.services-container {
  width: 100vw;
  height: 100%;
  background-color: #252b42;
  
}

.services-wrapper {
  padding: 0px 150px;
  margin-top: 60px;
}

.services-title {
  color: white;
  font-weight: 300;
  text-align: center;
}

.services-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services-text-container {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  gap: 15px;
  order: 2;
}

.services-text-container.second {
  order: 1;
}

.services-text-container h2 {
  color: white;
  font-weight: 300;
  font-size: 25px;
  overflow: hidden;
}

.services-text-container p {
  color: white;
  font-weight: 100;
  line-height: 23px;
  
}

.services-item img {
  width: 500px;
  display: flex;
  order: 1;
}

@media (max-width: 640px) {
  .services-wrapper {
    width: 100vw;
    padding: 0;
  }

  .services-item {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  .services-text-container h2 {
    text-align: center;
    padding: 0 20px;
  }
  
  .services-text-container p {
    text-align: center;
    padding: 0 20px;
  }

  .services-item img {
    align-self: center;
    width: 90%;
  }

  .services-text-container {
    order: 1;
  }
  
  .services-item {
    gap: 30px;
    margin-bottom: 30px;
  }
}
