.about-container {
  width: 100vw;
  height: 100%;
  background-color: #252b42;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-container h1 {
  color: white;
  text-align: center;
  font-weight: 300;
  font-size: 25px;
}

.title-container h2 {
  color: white;
  font-weight: 100;
  font-size: 15px;
  overflow: hidden;
  width: 500px;
  text-align: center;
}

.cards-container {
  display: flex;
  align-items: start;
  gap: 50px;
  margin: 50px 0px;
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  gap: 5px;
}

.card-item h3 {
  color: white;
  font-size: 14px;
  overflow: hidden;
  text-align: center;
  line-height: 23px;
}

.card-item p {
  color: white;
  font-size: 12px;
  font-weight: 100;
  text-align: center;
  overflow: hidden;
}

.video-container {
  overflow: hidden;
  border: none;
  width: 600px;
  height: 360px;
  border-radius: 40px;
  -webkit-box-shadow: 7px 7px 48px -3px rgba(37, 43, 66, 1);
  -moz-box-shadow: 7px 7px 48px -3px rgba(37, 43, 66, 1);
  box-shadow: 7px 7px 48px -3px rgba(37, 43, 66, 1);
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 640px) {
  .about-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about-wrapper {
    width: 100%;
    margin: 0 20px;
  }

  .title-container h1 {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .title-container h2 {
    font-size: 15px;
    width: 100%;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-item {
    width: 80%;
  }

  .video-container {
    width: 100%;
    height: 100%;
  }
}
